<div class="space-medium">
  <div class="container">
      <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="contact-holder">
              <!-- contact-form -->
              <form class="w-100 col-12">
                  <div class="row">
                      <div class="col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8 col-sm-12 col-xs-12">
                          <div class="text-center mb30">
                              <h1 class="mb20">Got A Question? Use From to Contact Us</h1>
                              <p>If you would preffer to discuss in personal, please include the neccessary details in your message &amp; we will get back to you as soon as possible.</p>
                          </div>
                          <div class="row">
                              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                  <div class="form-group">
                                      <label class="control-label required" for="name">Name<sup style="color:red">*</sup></label>
                                      <input id="name" name="name" type="text" class="form-control" placeholder="Name">
                                  </div>
                              </div>
                              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                  <div class="form-group">
                                      <label class="control-label required" for="email">Email<sup style="color:red">*</sup></label>
                                      <input id="email" name="email" type="text" class="form-control" placeholder="Email">
                                  </div>
                              </div>
                              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                  <div class="form-group">
                                      <label class="control-label required" for="phone">Phone<sup style="color:red">*</sup></label>
                                      <input id="phone" name="phone" type="text" class="form-control" placeholder="Phone">
                                  </div>
                              </div>
                              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                  <div class="form-group">
                                      <label class="control-label required" for="subject">subject<sup style="color:red">*</sup></label>
                                      <input id="website" name="subject" type="text" class="form-control" placeholder="subject">
                                  </div>
                              </div>
                              <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12 mb20">
                                  <div class="form-group">
                                      <label class="control-label" for="textarea">messages<sup style="color:red">*</sup></label>
                                      <textarea class="form-control" id="textarea" name="textarea" rows="6" placeholder="Messages"></textarea>
                                  </div>
                              </div>
                              <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
                                  <button id="singlebutton" name="singlebutton" class="btn btn-primary">Submit</button>
                              </div>
                          </div>
                      </div>
                  </div>
                </form>
              </div>
              <!-- /.contact-form -->
          </div>
      </div>
      <!-- contact-details -->
      <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 nopr">
              <div class="contact-block">
                  <div class="">
                      <h3>LET'S HAVE A CHAT!</h3>
                      <div class="mt60 mb30">
                          <h2 class="contact-info-title ">Telephone</h2>
                          <p class="contact-text"> 1800 123-4567 </p>
                      </div>
                      <h2 class="contact-info-title">VISIT OUR LOCATION</h2>
                      <p>1250 Mark Avenue Palace, Ahmedabad - India</p>
                      <div class="mb30">
                          <h2 class="contact-info-title ">Email Us</h2>
                          <p>info@todayfashion.com </p>
                      </div>
                  </div>
              </div>
          </div>
            <!-- /.contact-details -->
              <!-- map -->
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12  nopl">
              <div id="contact-map"></div>
          </div>
      </div>
  </div>
</div>
