<!-- slider-start -->
<div class="">
  <div class="owl-carousel slider">
      <!-- slider-1-start-->
      <div class="item">
          <div class="slider-img"> <img src="./assets/slider-1.jpg" alt=""></div>
          <div class="container">
              <div class="row">
                  <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                      <div class="slider-captions">
                          <h1 class="slider-discount-title">75% Off!</h1>
                          <h2 class="slider-title">Look Our New Collections</h2>
                          <p class="slider-text hidden-xs">The best of global brands, at your doorstep!</p>
                          <a href="#" class="btn btn-primary hidden-sm hidden-xs">shop now</a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <!-- slider-1-start-->
      <!-- slider-2-start-->
      <div class="item">
          <div class="slider-img"><img src="./assets/slider-2.jpg" alt=""></div>
          <div class="container">
              <div class="row">
                  <div class="col-lg-5 col-md-5 col-sm-12  col-xs-12">
                      <div class="slider-captions">
                          <h1 class="slider-discount-title">Up to 50% Off!</h1>
                          <h2 class="slider-title">Jeans, Dress, Tops & MOre</h2>
                          <p class="slider-text hidden-xs">The best of global brands, at your doorstep!</p>
                          <a href="#" class="btn btn-primary hidden-sm hidden-xs">shop now</a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <!-- slider-2-close-->
      <!-- slider-3-start-->
      <div class="item">
          <div class="slider-img"><img src="./assets/slider-3.jpg" alt=""></div>
          <div class="container">
              <div class="row">
                  <div class="col-lg-5 col-md-5 col-sm-12  col-xs-12">
                      <div class="slider-captions">
                          <h1 class="slider-discount-title">Extra 20% Off!</h1>
                          <h2 class="slider-title">On Best Sellers Products</h2>
                          <p class="slider-text hidden-xs">The best of global brands, at your doorstep!</p>
                          <a href="#" class="btn btn-primary hidden-sm hidden-xs">shop now</a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <!-- slider-3-close-->
  </div>
</div>
<!-- slider-close -->
