<div class="top-bar">
  <div class="container">
      <div class="row">
          <div class="col-md-6 hidden-sm hidden-xs">
              <div class="call-msg">
                  <p><span class="call-icon"><i class="fa fa-phone"></i></span>+1800-123-4567 / 7 days a week from 9:00 am to 7:00 pm.</p>
              </div>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12">
              <div class="top-nav">
                  <ul>
                      <li><a href="#">My Account </a></li>
                      <li> | </li>
                      <li><a href="#">Register</a></li>
                      <li> <a role="button" data-toggle="collapse" href="#search-area" aria-expanded="false" aria-controls="search-area"> <i class="fa fa-search"></i> </a> </li>
                  </ul>
              </div>
          </div>
      </div>
  </div>
</div>